<ion-list  color="dark" >

    <ion-list>
        <ion-item-sliding *ngFor="let item of listaser.listas | filtro:terminada ">
            <ion-item 
             detail
             color="dark"
             (click)="listaSelect(item)">
                <ion-label>{{item.titulo}}</ion-label>
                <ion-note slot="end" color="tertiary">{{item.items.length}} items</ion-note>
            </ion-item>
           
            
    
            <ion-item-options side="end" >
                <ion-item-option color="danger" (click)="Eliminar(item)">
                    <ion-icon slot="icon-only" name="close"></ion-icon>
                </ion-item-option>
            </ion-item-options>

            <ion-item-options side="start" >
                <ion-item-option color="secondary" (click)="Editar(item)">
                    <ion-icon slot="icon-only" name="create-outline"></ion-icon>
                </ion-item-option>
            </ion-item-options>

        </ion-item-sliding>
    </ion-list>

    
</ion-list>
